.photo-container {
    display: flex;
    flex-direction: column;
}

.date-time {
    margin-right: 10px; 
    color: rgba(165, 161, 161, 0.904);
    padding-top: 30px;
}

.photo {
    width: 100%;
    height: auto;
}

.comment {
    display: flex;
    flex-direction: column;
}